
.table_header {
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFF00; 
}

.table_image {
  padding-left: 10px;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  border: 2px solid #ddd;
}

td {
  padding: 15px;
  font-size: 1.2em;
  text-align: left;
  color: #4CAF50
  }

.left_border {
  border-left: 4px solid #871F78;
  font-size: 1.1em;
  font-family: 'Times New Roman', system-ui;
}

body {
  font-family: 'Times New Roman', system-ui;
  background-color: #000000;
}

tr {
  border-bottom: 1px solid #ddd;
  }

h1 {
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 20px;
  color: #4CAF50;
}

img {
  width: 200px;
  height: 200px;
  transition: transform 0.5s ease; 
}
