
.table_header {
  font-size: 1.8em;
  font-weight: bold;
  color: #FFFF00; 
}

.table_image {
  padding-left: 10px;
}

table {
  border-collapse: collapse;
  width: 80%;
  border: 4px solid #ddd;
}

td {
  padding: 15px;
  font-size: 1.2em;
  text-align: left;
  color: #32de84;
  }

.left_border {
  border-left: 2px solid #FF69B4;
  font-size: 1.1em;
  font-family: 'Bungee Spice', sans-serif;
}

body {
  font-family: 'Times New Roman', system-ui;
  background-color: #000000;
}

tr {
  border-bottom: 1px solid #ddd;
  }

h1 {
  text-align: center;
  font-size: 3.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #32de84;
}

img {
  width: 200px;
  height: 200px;
  transition: transform 0.5s ease; 
}

img:hover {
  transform: scale(1.25) rotate(180deg);
}

.merc:hover, .earth:hover, .mars:hover, .uran:hover {
  font-weight: bold;
  color: light green;
  background-color: #FAFAD2
}
